<script>
  function code_toggle() {
    if (code_shown){
      $('div.input').hide('500');
      $('#toggleButton').val('Show Code')
    } else {
      $('div.input').show('500');
      $('#toggleButton').val('Hide Code')
    }
    code_shown = !code_shown
  }

  $( document ).ready(function(){
    code_shown=false;
    $('div.input').hide()
  });
</script>
<form action="javascript:code_toggle()"><input type="submit" id="toggleButton" value="Show Code"></form>

In [1]:
from IPython.display import Markdown
import numpy as np
import pandas as pd

In [2]:
Markdown("""
## This does not work a = {a}.
""".format(a=1.234))

## This does not work a = 1.234.

In [13]:
a=4.5

a = {{a}}

## $a^2 = \frac{2-x}{x+3}$

## List

A Python list ... ['a', 'b', 'c'] ... is an **ordered-collection** of **arbitrary objects**. 

A Python list is an **ordered** and **mutable** Python container.

- **ordered**: ['a','b'] is not ['b','a']
- **indexed**: accessible by index
- **not unique**: ['a', 'a', 'a', 'b', 'b']
- **iterable**: for n in [1, 2, 3, 4, 5, 6]:
- **dynamic**: append, delete, insert, pop, remove, slice, sort, reverse, concatenate, extend
- **mutable**: cannot be used as a key
- **arbitrary**: [1, 'A', False]
- **nestable**: [1, 2, 3, [a, b, c], 4]

The list is the work-horse of Python.

References
- https://towardsdatascience.com/15-things-you-should-know-about-lists-in-python-c566792eca98
- https://www.datacamp.com/community/tutorials/18-most-common-python-list-questions-learn-python

In [4]:
# Initialize an empty list with two brackets.

empty=[]

# Initialize an empty list with the invocation list()

empty = list()

In [5]:
# Initialize a list of items as an ordered list of the same object type.

my_list = ['a', 'b', 'c']

# Initialize a list of items as an ordered list of disparate object types.

my_list_2 = ['a', 2, 3.2, my_list, False]

# Duplicates in a list are not a problem.

my_list = ['a', 'a', 'a', 'b', 'b']

# Nested lists are not a problem either.

my_list = ['a', 'b', 'c', [1, 2, 3], 'd']

In [23]:
mydict = list( {'a':'1','b':'2'} )

In [35]:
Markdown("""

**a STRING**\n
list('malcolm')\n
{result}\n

""".format(result = list('malcolm')))

Markdown("""

**a TUPLE**\n
list( ('one','more','thing') ),\n
{result}\n

""".format(result = list( ('one','more','thing') )))

#result = list( (2, 3, 4) ) #{'a':'1', 'b':'2', 'c':'3'} )

#Markdown("""

#**a DICTIONARY**
#list( {'a':'1', 'b':'2', 'c':'3'} )
#{result}

#""".format(result))

#Markdown("""

#**a DICTIONARY**
#list( {'a':'1', 'b':'2', 'c':'3'} )
#{result}

#""")#.format(result))

#Markdown("""

#**a SET**
#list( {'x', 'y', 'z'} )
#{result}\n

#""".format(result = list( {'x', 'y', 'z'} )))

**a TUPLE**

list( ('one','more','thing') ),

['one', 'more', 'thing']

In [ ]:
Markdown("""

**a STRING**\n
list('malcolm')\n
{result}\n

""".format(result = list('malcolm')))

Markdown("""

**a TUPLE**\n
list( ('one','more','thing') ),\n
{result}\n

""".format(result = list( ('one','more','thing') )))

#result = list( (2, 3, 4) ) #{'a':'1', 'b':'2', 'c':'3'} )

#Markdown("""

#**a DICTIONARY**
#list( {'a':'1', 'b':'2', 'c':'3'} )
#{result}

#""".format(result))

#Markdown("""

#**a DICTIONARY**
#list( {'a':'1', 'b':'2', 'c':'3'} )
#{result}

#""")#.format(result))

#Markdown("""

#**a SET**
#list( {'x', 'y', 'z'} )
#{result}\n

#""".format(result = list( {'x', 'y', 'z'} )))

In [7]:
# a STRING
list('malcolm'), 
# ['m', 'a', 'l', 'c', 'o', 'l', 'm'] 


# a TUPLE
list( ('one','more','thing') ),
# ['one', 'more', 'thing']


# a DICTIONARY
list( {'a':1, 'b':2, 'c':3} )
# ['a', 'b', 'c']     


# a SET
list( {'x', 'y', 'z'} )
# ['x', 'y', 'z']

# a RANGE

print( list( range(1,10) ) )

# a numpy array

print( list( np.array( [1, 2, 3] ) ) )

# a pandas series

list( pd.Series( ['a', 'b', 'c'] ) )

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3]

['a', 'b', 'c']

In [8]:
# list of cities
cities = ['Madrid', 'Munich', 'Valencia', 'Stuttgart']

# access the first element of the list
print(
    
    cities[0]
    
)
# 'Madrid'

# access the last element of the list
cities[3]
# 'Stuttgart'

# try to access an index out of range
#  cities[4]
# IndexError

Madrid

'Stuttgart'

Define a list using a **List comprehension**

[ **expression** for **element** in **iterable** ]

In [9]:
print( [n for n in range(10)] )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
print( [n**2 for n in range(10)] )

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
print( [n**2 for n in range(10) if 0 == n%2 ])

[0, 4, 16, 36, 64]

In [12]:
print( [ n**2 if 0 == n%2 else -1*n**2 for n in range(10)])

[0, -1, 4, -9, 16, -25, 36, -49, 64, -81]